{% extends 'todolist/base.html' %}

{% block content %}
    <h1>やることリスト</h1>
    <a href="/todolist/create"><i class="fas fa-plus"></i>追加する</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">タイトル</th>
            <th scope="col">作成日時</th>
            <th scope="col">更新日時</th>
            <th scope="col">状態</th>
            <th scope="col">詳細</th>
            <th scope="col">削除</th>
            <th scope="col">更新</th>
        </tr>
        </thead>
        <tbody>
        {% for item in todolist_list %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.created_date }}</td>
            <td>{{ item.updated_date }}</td>
            <td>{{ item.status }}</td>
            <td>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="詳細">
                    <a href="{% url 'todolist:detail' item.id %}"><i class="fas fa-list-ul"></i></a>
                </button>
            </td>
            <td>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="削除">
                    <a href="{% url 'todolist:delete' item.id %}"><i class="fas fa-trash-alt"></i></a>
                </button>
            </td>
            <td>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="更新">
                    <a href="{% url 'todolist:update' item.id %}"><i class="fas fa-edit"></i></a>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}